<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athena Stock</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/stocks/home.css">
</head>
<body>
    <div class="container-fluid">
        <!-- container fluid, navbar, and nav-item all taken from Bootstrap CSS -->
        {% include './navbar.html' %}
    </div>
    <div class="container-fluid">
        <h1 class="p-3 mb-2 bg-primary text-white text-center">Analytics for Your Favorites</h1>
    </div>

    <div class="table-container">
        <div class="table-section">

            <h1>Sentiment analysis on latest news </h1>
            <div>
                You can go to the yahoo finance news page if you click on the button
            </div>
            <br>
            <div class="sentiment-section">
                {% for stock, score in sentiment %}
                {% if score > 0.5 %}
                <a class="btn btn-success font-weight-bold" href="https://finance.yahoo.com/quote/{{stock}}/news?p={{stock}}">
                    {{stock}}
                        <svg id="happy-emoji" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                </a>
                {% else %}
                <a class="btn btn-danger font-weight-bold" href="https://finance.yahoo.com/quote/{{stock}}/news?p={{stock}}">
                    {{stock}}
                        <svg id="sad-emoji" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.172 16.172a4 4 0 015.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                </a>
                {% endif %}
                {% endfor %}
            </div>

            <br>
            <br>
            <div>
                <b style="color:red">**Disclosure:</b> Stocks investing in general are risky and can result in considerable loss. 
                We are not financial experts and are not responsible for any profit/loss following the recommendations. 
                Please don't use the information for trading. 
            </div>

            <br>
            <br>

            <h1>Momentum based predictions</h1>
            <div>
                We calculated the latest 20 trading day moving average prices. 
                The program recommends:
                <ul>
                    <li>
                        BUY if today's stock is lower than 20 day average price 
                    </li>
                    <li>
                        SELL if today's stock price is higher than 20 day average price
                    </li>
                    <li>
                        HOLD if today's stock price is the same as the 20 day average price
                    </li>
                </ul>
            </div>
            <table class="table">
                <tr class="thead-light">
                    <th>Stock Name</th>
                    <th>20-day moving average prices</th>
                    <th>Trading Recommendation</th>
                </tr>
                {% for stock, twentyprice, rec in momentum_rec%}
                <tr>
                    <td>{{stock}}</td>
                    <td>{{twentyprice}}</td>
                    <td>{{rec}}</td>
                </tr>
                {% endfor %}
            </table>

            <br>
            <br>

            <h1>LSTM based predictions</h1>
            <div>
                The program predicts today's closing price using LSTM model and 
                the program recommends:
                <ul>
                    <li>
                        BUY if today's stock is lower than the prediction
                    </li>
                    <li>
                        SELL if today's stock price is higher than the prediction
                    </li>
                    <li>
                        HOLD if today's stock price is the same as the prediction
                    </li>
                </ul>
            </div>
            <table class="table">
                <tr class="thead-light">
                    <th>Stock Name</th>
                    <th>Predicted prices</th>
                    <th>Trading Recommendation</th>
                </tr>
                {% for stock, price, rec in lstm_rec%}
                <tr>
                    <td>{{stock}}</td>
                    <td>{{price}}</td>
                    <td>{{rec}}</td>
                </tr>
                {% endfor %}
            </table>

        </div>

        <br>
        <br>
    </div>


    <!-- scripts below taken from Boostrap CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>      
</body>
</html>