<!DOCTYPE html>
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/stocks/home.css">
    </head>
    <body>
        <div class="container-fluid">
            <!-- container fluid, navbar, and nav-item all taken from Bootstrap CSS -->
            {% include './navbar.html' %}
        </div>
        <div id="loading">

        <div class="container-fluid">
            <h1 class="p-3 mb-2 bg-primary text-white text-center">Welcome {{ the_user }}</h1>
        </div>
        <div class="container">
            <div class="content-container">
                <h1>Your Favorite Stocks
                    <span>
                        <a class="btn my-button" type="button" href="/enter_data">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>  ADD FAVORITE STOCK
                        </a>
                    </span>
                </h1>

                <div class="favorite-section">
                    {% for user_stock, price in users_stocks %}
                      <div class="card">
                        <div class="card-body">
                          <h2 class="card-title">{{ user_stock }}</h2>
                          <h4 class="card-text">${{price}}</h4>
                            <a href="https://finance.yahoo.com/quote/{{user_stock}}?p={{user_stock}}" class="btn btn-primary">Learn More</a>
                            <a href="/delete_data/{{user_stock}}" class="btn btn-primary">Delete</a>
                          </div>
                    </div>
                    {% endfor %}
                </div>
            </div>


        </div>
 

        <!-- scripts taken from Bootstrap CSS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
          function loading() {
            document.getElementById("loading").innerHTML = "<div class='loading-text'><h1>LOADING.... </h1><img src='https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif'></div>"
          }
        </script>
    
    </body>
</html>
