<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Bootstrap CSS -->
    </head>
    <body>
        <!-- navbar, navlink, nav-pills, and nav-item all taken from Bootstrap CSS -->
        <div class="container-fluid">
            <navbar class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Athena</a>
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stocks-home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stocks-about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/UserPage">UserPage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </u1>
            </navbar>
        </div>
        <div class="container-fluid text-center">
            <!-- form elements/control taken from Bootstrap CSS -->
            {% csrf_token %}
            <div class="mx-auto row">
                <div class="card col-sm-6 text-center mx-auto">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="card-title text-center bg-primary text-white"><h1>Enter information below to add to your stock list</h1></div>
                        <div class="card-body bg-secondary">
                            <div class="form-group">
                                <input class="form-control" name="username" placeholder="Enter Username">
                                <br>
                                <input class="form-control" name="stock" placeholder="Enter Stock you want to add to favorites">
                                <br>
                                <input class="form-control" name="author" placeholder="Enter Name of Author">
                                <br>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1" class="text-white"></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="19" placeholder="Enter Reason For Creation. We are just curious as to why you are adding this stock to the favorites list. If you don't wish to answer that is ok. Just enter No Comment in the text box and click create"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <button type="submit" name="send" value="create" class="col-sm-6 btn btn-success"><h1>CREATE</h1></button>
                                <button type="submit" name="send" value="delete" class="col-sm-6 btn btn-danger"><h1>DELETE</h1></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- scripts all taken from Bootstrap CSS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
